git+https://github.com/huggingface/transformers.git
accelerate 
bitsandbytes 
crewai 
requests 
streamlit 
soundfile 
librosa 
numpy 
scipy 
pyttsx3
sentencepiece 
safetensors 
pandas 
feedparser 
langdetect 
pyngrok 
langchain-community 
langchain 
langchain-text-splitters 
langchain-huggingface[full] 
langchain-core 
langchain-classic 
langchain-experimental 
faiss-cpu 
pypdf
streamlit-mic-recorder 
pillow 
torch
torchvision
kaggle
kagglehub
