git+https://github.com/huggingface/transformers.git
torch
torchvision
accelerate
bitsandbytes
sentencepiece
safetensors
crewai
chromadb
pydantic
langchain
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
streamlit
streamlit-mic-recorder
pandas
numpy
pillow
requests
feedparser
pypdf
